@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.todo {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 12fr;
  grid-template-columns: 12fr;
  grid-template-areas: "head""cuerpo";
}

.header {
  grid-area: head;
}

.main {
  grid-area: cuerpo;
  font-family: 'Ubuntu',
    sans-serif;
  // background: #e1e1e1;
  padding-top: 50px;
  // background: rgb(241, 241, 241);
  // background: linear-gradient(0deg, rgba(241, 241, 241, 1) 0%, rgba(193, 193, 193, 1) 100%);
  background: #e1eeee;
}
