@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
nav {
  box-shadow: 0 0.1px 2.2px rgba(0, 0, 0, 0.053),
    0 0.3px 5.3px rgba(0, 0, 0, 0.077),
    0 0.6px 10px rgba(0, 0, 0, 0.095),
    0 1.1px 17.9px rgba(0, 0, 0, 0.113),
    0 2.1px 33.4px rgba(0, 0, 0, 0.137),
    0 5px 80px rgba(0, 0, 0, 0.19) !important;
    z-index: 100 !important;
}
.navopciones{
    animation-name: aparecer;
    animation-duration: 0.5s;
}
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}
#navbarNav{
  transition: all .3s ease-in-out !important;
}
.collapse, .collapsing{
  text-align: right !important;
}

img{
  height: 30px;
  width: 30px;
}
.nombrepag{
  padding-left: 3px;
  font-family: 'Lobster',
  cursive;
  color: #e15b64;
}