<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/portada']">Temporeros</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar top-bar"></span>
    <span class="icon-bar middle-bar"></span>
    <span class="icon-bar bottom-bar"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ng-container *ngIf="(trabajadoresService.ifLogin() || empresasService.ifLogin()) else logedOut">
        <ul class="navbar-nav navopciones">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/perfil']">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/portada']" (click)="logOut()">Cerrar sesión</a>
          </li>
        </ul>
      </ng-container>
      <ng-template #logedOut>
        <ul class="navbar-nav navopciones">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login/empresa']">Zona empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login/usuario']">Iniciar sesión</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
