.todo-portada {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.busqueda {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro {
  width: 75%;
  height: 300px;
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  animation-name: aparecer;
  animation-duration: 0.5s;
}

.cuadro_interior {
  width: 100%;
  padding: 30px;
}

.texto {
  font-size: 1.5em;
  color: #f1f1f1;
  padding-bottom: 10px;
}

.div-abajo {
  height: 70%;
  // background: #111;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.abajo{
  background: #F8F9FA;
  width: 90%;
  border-radius: 50px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);
}
