.loading{
    height: 100px;
    width: 100px;
    background: url('../../../assets/loading.svg');
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: aparecer;
    animation-duration: 0.5s;
}