<div class="todo">
  <div class="loading centrado" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div class="content" *ngIf="loaded">
    <div class="header centrado">
      <app-img-empresa></app-img-empresa>
    </div>
    <div class="main">
      <div class="nombre param centrado">
        {{empresa.nombre}}
      </div>
      <div class="email param centrado">
        Email: {{empresa.email}}
      </div>
      <div class="nif param centrado">
        NIF: {{empresa.cifnif.toUpperCase()}}
      </div>
      <div class="muni param centrado">
        {{empresa.municipio}}
      </div>
    </div>
  </div>
</div>
