/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  // background-color: #dfdfdf;
  background: #666;
  border-radius: 10px;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes desa {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes crecerError {
  from {
    margin-bottom: 0;
    padding: 0;
    height: 0;
    opacity: 0;
  }

  to {
    margin-bottom: 16px;
    padding: 12px;
    height: 48px;
    opacity: 1;
  }
}

@keyframes aparecerMsg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}