<div class="todo-form">
  <div class="div-form">
    <div class="card-header">
      <h3 class="mb-0">Login</h3>
    </div>
    <form [formGroup]="formUsuario" (submit)="submit()">
      <div class="form-group">
        <label for="nombre">Email</label>
        <input formControlName="email" type="text" class="form-control paramatro" id="form-email"
          aria-describedby="nombre"
          placeholder="" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="pass">Contraseña</label>
        <input formControlName="pass" type="password" class="form-control paramatro" id="form-pass" placeholder=""
          autocomplete="off" aria-describedby="imagen">
      </div>
        <div class="card-footer" id="footer">
            <div class="texto">
                <div>¿Aún no tienes cuenta? <a [routerLink]="['/registrar/usuario']">Registrate</a></div>
            </div>
            <div class="boton">
              <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </div>
    </form>
  </div>
</div>